#title, h2{
    color: white;
    background-color: rgb(92, 104, 69);
    border-radius: 10px;
    font-style: italic;
    text-align: center;
    
}

#perfil{
    width: 15%;
    border-radius: 8px;
    margin: auto;
    display: block;
}

body{
    background-color: #ccc;
    padding: 200px;
    
}

section{
    background-color: white;
    border: 3px solid #ccc;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
    
}

p, h4{
    text-align: justify;
}

table{
    margin: auto;
}
tr, td{
    padding: 20px;
}
#linkedin{
    width: 200px;
}

#github{
    width: 200px;
}

#instagram{
    width: 200px;
}

#email{
    width: 60px;
}